@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: #1c2d65;
  padding: 40px 30px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  z-index: -1;
}

.background::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom right, transparent 49%, #fff 51%);
  transform-origin: bottom left;
  transform: skewX(-40deg);
}

.background1 {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #1c2d65;
  padding: 40px 30px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  z-index: -1;
}

.background1::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom right, transparent 49%, #fff 51%);
  transform-origin: bottom left;
  transform: skewX(-40deg);
}
.heading1 {
 color: #d9464d;
 text-align: left;
 font-size: 32px;
}
.heading2{
  color: #fff;
 text-align: left;
 font-size: 26px;
 margin-top: 10px;
}
.heading2 > span{
  color: #d9464d;
  text-decoration: underline;
}
.heading3{
  color: #fff;
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}
.footer {
  text-align: center;
  font-size: 17px;
  color: white;
  background-color: #1c2d65;
  padding: 20px 5px;
}
.counter{
  color: white;
  background-color: #1c2d65;
  padding: 20px 5px;
  text-align: center;
}
.counter > img{
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.counter > h1 {
  margin-top:20px;
  font-size: 28px;
}
.counter > h2 {
  font-size: 18px;
}
.app_box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}
.box{
  width: 360px;
  margin-top: -150px;
  background-color: #fff;
  z-index: 1;
  padding: 50px;
  border-radius: 15px 15px 0 0;
}
label {
  margin-left: 5px;
}
input{
  margin-top: 10px;
}
i{
  color: #fff;
}
.submit{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 360px;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.progress-bar {
  height: 30px;
  width: 100%;
  background-color: #ccc;
  border-radius: 15px;
  overflow: hidden;
}

.loader {
  height: 100%;
  background-color: #2cb217;
  transition: width 0.5s ease;
}
.loader > span {
  padding-left: 40px;
  color: #fff;
  font-size: 22px;
}
.btn{
  width: 60px;
  padding: 7px;
  margin-left: 10px;
  background-color: #2cb217;
  border: none;
  outline: none;
}
.box {
  display: block;
  animation: fadeInLeft 1s ease backwards;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in {
  display: block;
}

.fade-out {
  opacity: 0;
  display: none;
}

input {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.116);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  border: none;
  transition: border-color 0.3s ease;
}
::placeholder {
  color: #999;
}

.heading4{
  text-align: center;
  color: #2cb217;
  font-size: 38px;
  font-weight: 800;
}
.heading5{
  text-align: left;
  color: #fff;
  font-size: 26px;
  margin-top: 15px;
  font-weight: 300;
}
.heading5 > span{
  font-weight: 900;
}
.heading6{
  text-align: left;
  color: #fff;
  font-size: 26px;
  margin-top: 15px;
  font-weight: 300;
}
.heading7{
  text-align: left;
  color: #d9464d;
  font-size: 26px;
  margin-top: 15px;
  font-weight: 500;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}